{% extends "base.html" %}
{% block title %} DY's site {% endblock %}
<hi align="center" xmlns:float="http://www.w3.org/1999/xhtml">所有貼文</hi>
<div id="posts">
{% block content %}
{% for post in posts %}
<div class="card border-light">
    <div class="card-header d-flex justify-content-between align-items-center">
    <i class="fa-solid fa-user"> {{ post.post.database.user }}</i>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" >
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/edit-post/{{post.post.id}}">編輯</a></li>
                <li><a class="dropdown-item" href="/delete-post/{{post.post.id}}">刪除</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body">


        <div class="card-text">
            {{ post.text }}
        </div>
        <br/>
        {% for comment in post.post.comment %}
        <font color="#6495ed">{{ comment.database.user }}: {{ decrypt_text(comment.text) }}</font>
        <br/>
        <p align="right"><a href="/delete-comment/{{comment.id}}"><button type="button" class="btn btn-light btn-sm">刪除</button></a></p>
        <font color="#6495ed"><p align="right">{{ comment.created }}</p></font>
        {% endfor %}
        <form class="input-group mb-3" method="POST" action="{{ url_for('comment', post_id=post.post.id) }}">
            <input type="text" class="form-control" placeholder="留言" name="text" required>
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">送出<i class="fa-solid fa-bone"></i></button>
        </form>
    </div>
    <div class="card-footer text-muted">
        {{ post.post.created }}
    </div>
</div>
    <br/>
{% endfor %}
    <div align="center">
        <a href="/posts"><button type="button" class="btn btn-dark btn-lg">建立貼文<i class="fa-solid fa-shield-dog"></i></button></a>
    </div>
</div>
{% endblock %}